<div *ngFor='let row of this.board; let i = index' class="container">
    <div *ngFor = 'let col of row; let x = index'>
        <div *ngIf = "(x == 0 || x == 3 || x == 6) && (i == 0 || i == 3 || i == 6)" class="border-left-top">
            {{col.value}}
        </div>
        <div *ngIf = "(x == 0 || x == 3 || x == 6) && (i == 1 || i == 4 || i == 7)" class="border-left">
            {{col.value}}
        </div>  
        <div *ngIf = "(x == 0 || x == 3 || x == 6) && (i == 2 || i == 5 || i == 8)" class="border-left-bottom">
            {{col.value}}
        </div>          
    </div>
    <br>
</div> 
